.header-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  justify-content: center;
  align-self: center;

  .title-header {
    margin-left: 5%;
  }

  .filter-option {
    margin-left: auto;
    margin-right: 10%;
    cursor: pointer;
  }

  .modal {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 70px;
    margin-right: 7%;
    margin-bottom: 100px;
    z-index: 200;
    background-color: white;
  }
}
